@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Work Sans";
}

:root {
    --White: hsl(0, 0%, 100%);
    --Lightpink: hsl(275, 100%, 97%);
    --Grayishpurple: hsl(292, 16%, 49%);
    --Darkpurple: hsl(292, 42%, 14%);
}

body {
    background: url("assets/images/background-pattern-desktop.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-position-y: -100px;
    background-attachment: fixed;
    background-color: var(--Lightpink);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    min-height: 100vh
}


main {
    width: 50%;
    background-color: var(--White);
    border-radius: 20px;
    padding: 3rem;
}

main header {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

main header h1 {
    color: var(--Darkpurple);
    font-size: 3rem;
    font-weight: 700;
}


main header img {
    width: 35px;
}

hr {
    border-color: hsla(0, 2%, 77%, 0.123);
    margin: 15px 0;
}

section {
    display: flex;
    flex-direction: column;
}

article {
    display: flex;
    flex-direction: column;
    height: min-content
}

.section-header {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    justify-content: space-between;
    gap: 1rem;
    margin: 15px 0;
}

.section-header h2 {
    font-weight: 600;
}

.section-header h2:hover {
    cursor: pointer;
    color: var(--Grayishpurple);
}

.section-header img {
    cursor: pointer;
}

.hidden-section {
    overflow: hidden;
    color: var(--Grayishpurple);
    font-size: 1.1rem;
    line-height: 1.5;
    transition: max-height 1.5s ease;
    margin-bottom: 0rem;
    max-height: 0;
}


@media screen and (max-width: 375px) {
    main {
        width: 90%;
    }
}